@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('fonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Bold.woff2') format('woff2'),
        url('fonts/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  padding-top: 2rem;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
    font-family: Amatic SC, sans-serif;
    font-size: 2.75em;
}

h3 {
    font-family: Amatic SC, sans-serif;
    color: white;
    font-weight: bold;
}

#todays-date {
    font-size: 1em;
    color: #d2a86e;
}

/* new entry form */
.form-container {
    border-radius: 8px 8px;
    padding: 5pt 10pt 10pt 10pt;
    background: #d2a86e;
}

#create-entry_form, #categories, #entriesByCat {
    color: gray;
    border: none; 
    border-radius: 4px;
}

#categories {
    border: 2pt;
}

#create-button {
    font-family: Amatic SC, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: #fae4b1;
    padding: -2px 22px;
    border-radius: 8px 8px;
    border-style: solid;
    border-width: 1.5pt;
    border-color: white;
}

/* see entries by category */
.category-container {
    color: white;
    font-weight: bold;
    background-color: #edd191;
    padding: 5pt 10pt 10pt 10pt;
    border-radius: 8px 8px;
}

/* entries by category list */
#see-by-entry, label {
    font-family: Amatic SC, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* all entries */
#edit-button, #delete-button {
    font-family: Amatic SC, sans-serif;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    padding: -2px 15px;
    border-radius: 8px 8px;
    background-color: white;
    border-style: solid;
    border-color: #d2a86e;
    border-width: 1.45pt;
}

#delete-button {
    background-color: #fae4b1;
}

#input-date, #input-content, #input-category {
    border-radius: 4px; 
    border-style: solid; 
    border-width: thin;
}

.footer {
  background-color: #edd191;
  height: 50pt;
}
